:root{
    --font-size:16px;
    --font-color:#23262F;
    --bg-color:#FCFCFD;
}
.header,
.header * {
    font-weight: 700;
    background-color: var(--bg-color);
    color: var(--font-color);
    font-size: var(--font-size);
}

.header {
    display: flex;
    height: 90px;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.left-side,
.right-side {
    align-items: center;
    height: 30px;
}

.left-side,
.right-side,
.header-level-container,
.header-wallet-container{
    display: flex;
    flex-direction: row;
}

.header-username-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-side{
    width: 130px;
    margin-left: 35px;
}

.right-side{
    margin-right: 15px;
}

.header-level-container{
    width: 44px;
    margin-right: 10px;
}

.header-level,
.header-wallet{
    display: flex;
    align-items: center;
    justify-content: center;
}

.left-side,
.right-side .header-level-container,
.right-side .header-wallet-container {
    gap: 5px;
}

.left-side{
    gap: 15px;
}

.header-icon-container {
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
}

.header-wallet {
    white-space: nowrap;
}